{
    "keyboard_language" : "mk-MK",

    "candidate_font" : "Futura 11",
    "candidate_border" : 4,
    "candidate_separation" : 20,
    "candidate_height" : 38,

    "keyboard_height" : 237,
    "keyboard_x_gap" : 3,
    "keyboard_y_gap" : 4,

    "portrait_height" : 275,
    "landscape_height" : 275,

    "layouts" : [
        {
            "comment": "no language, 123 for alpha",
            "type": 1,
            "height": 55,
            "font" : "Futura 11",
            "modifier" : 0,
            "keys": [
                {
                    "width": 84,
                    "label": "123!?",
                    "value": "!!123",
                    "x": 19,
                    "y": 173
                },
                {
                    "width": 337,
                    "label": "space",
                    "value": " ",
                    "x": 103,
                    "y": 173
                },
                {
                    "width": 56,
                    "label": ".",
                    "value": ".",
                    "x": 440,
                    "y": 173
                },
                {
                    "width": 85,
                    "label": "file:///usr/share/keyboard/images/keyReturnEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyReturnArmed.png",
                    "value": "\uFF0D",
                    "x": 496,
                    "y": 173
                }
            ]
        },
        {
            "comment": "with language, 123 for alpha",
            "type": 2,
            "height": 55,
            "font" : "Futura 11",
            "modifier" : 0,
            "keys": [
                {
                    "width": 84,
                    "label": "123!?",
                    "value": "!!123",
                    "x": 19,
                    "y": 173
                },
                {
                    "width": 56,
                    "label": "file:///usr/share/keyboard/images/keyIntlEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyIntlArmed.png",
                    "value": "!!intl",
                    "x": 103,
                    "y": 173
                },
                {
                    "width": 281,
                    "label": "space",
                    "value": " ",
                    "x": 159,
                    "y": 173
                },
                {
                    "width": 56,
                    "label": ".",
                    "value": ".",
                    "x": 440,
                    "y": 173
                },
                {
                    "width": 85,
                    "label": "file:///usr/share/keyboard/images/keyReturnEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyReturnArmed.png",
                    "value": "\uFF0D",
                    "x": 496,
                    "y": 173
                }
            ]
        },
        {
            "comment": "no language, abc for numeric",
            "type": 4,
            "height": 55,
            "font" : "Futura 11",
            "modifier" : 0,
            "keys": [
                {
                    "width": 84,
                    "label": "ABC",
                    "value": "!!abc",
                    "x": 19,
                    "y": 173
                },
                {
                    "width": 337,
                    "label": "space",
                    "value": " ",
                    "x": 103,
                    "y": 173
                },
                {
                    "width": 56,
                    "label": ".",
                    "value": ".",
                    "x": 440,
                    "y": 173
                },
                {
                    "width": 85,
                    "label": "file:///usr/share/keyboard/images/keyReturnEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyReturnArmed.png",
                    "value": "\uFF0D",
                    "x": 496,
                    "y": 173
                }
            ]
        },
        {
            "comment": "with language, abc for numeric",
            "type": 8,
            "height": 55,
            "font" : "Futura 11",
            "modifier" : 0,
            "keys": [
                {
                    "width": 84,
                    "label": "ABC",
                    "value": "!!abc",
                    "x": 19,
                    "y": 173
                },
                {
                    "width": 56,
                    "label": "file:///usr/share/keyboard/images/keyIntlEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyIntlArmed.png",
                    "value": "!!intl",
                    "x": 103,
                    "y": 173
                },
                {
                    "width": 281,
                    "label": "space",
                    "value": " ",
                    "x": 159,
                    "y": 173
                },
                {
                    "width": 56,
                    "label": ".",
                    "value": ".",
                    "x": 440,
                    "y": 173
                },
                {
                    "width": 85,
                    "label": "file:///usr/share/keyboard/images/keyReturnEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyReturnArmed.png",
                    "value": "\uFF0D",
                    "x": 496,
                    "y": 173
                }
            ]
        },
        {
            "comment": "lowercase, three rows for alpha",
            "type": 16,
            "width": 52,
            "height": 55,
            "font" : "Futura 11",
            "modifier" : 0,
            "keys": [
                {
                    "label": "љ",
                    "value": "љ",
                    "x": 14,
                    "y": 7
                },
                {
                    "label": "њ",
                    "value": "њ",
                    "x": 66,
                    "y": 7
                },
                {
                    "hold" : 1,
                    "label": "е",
                    "value": "е",
                    "x": 118,
                    "y": 7
                },
                {
                    "label": "р",
                    "value": "р",
                    "x": 170,
                    "y": 7
                },
                {
                    "label": "т",
                    "value": "т",
                    "x": 222,
                    "y": 7
                },
                {
                    "label": "ѕ",
                    "value": "ѕ",
                    "x": 274,
                    "y": 7
                },
                {
                    "label": "у",
                    "value": "у",
                    "x": 326,
                    "y": 7
                },
                {
                    "hold" : 2,
                    "label": "и",
                    "value": "и",
                    "x": 378,
                    "y": 7
                },
                {
                    "label": "о",
                    "value": "о",
                    "x": 430,
                    "y": 7
                },
                {
                    "label": "п",
                    "value": "п",
                    "x": 482,
                    "y": 7
                },
                {
                    "label": "ш",
                    "value": "ш",
                    "x": 534,
                    "y": 7
                },
                {
                    "label": "а",
                    "value": "а",
                    "x": 14,
                    "y": 63
                },
                {
                    "label": "с",
                    "value": "с",
                    "x": 66,
                    "y": 63
                },
                {
                    "label": "д",
                    "value": "д",
                    "x": 118,
                    "y": 63
                },
                {
                    "label": "ф",
                    "value": "ф",
                    "x": 170,
                    "y": 63
                },
                {
                    "label": "г",
                    "value": "г",
                    "x": 222,
                    "y": 63
                },
                {
                    "label": "х",
                    "value": "х",
                    "x": 274,
                    "y": 63
                },
                {
                    "label": "ј",
                    "value": "ј",
                    "x": 326,
                    "y": 63
                },
                {
                    "label": "к",
                    "value": "к",
                    "x": 378,
                    "y": 63
                },
                {
                    "label": "л",
                    "value": "л",
                    "x": 430,
                    "y": 63
                },
                {
                    "label": "ч",
                    "value": "ч",
                    "x": 482,
                    "y": 63
                },
                {
                    "label": "ќ",
                    "value": "ќ",
                    "x": 534,
                    "y": 63
                },
                {
                    "label": "file:///usr/share/keyboard/images/keyShiftEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyShiftArmed.png",
                    "value": "!!shift",
                    "x": 14,
                    "y": 118
                },
                {
                    "label": "з",
                    "value": "з",
                    "x": 66,
                    "y": 118
                },
                {
                    "label": "џ",
                    "value": "џ",
                    "x": 118,
                    "y": 118
                },
                {
                    "label": "ц",
                    "value": "ц",
                    "x": 170,
                    "y": 118
                },
                {
                    "label": "в",
                    "value": "в",
                    "x": 222,
                    "y": 118
                },
                {
                    "label": "б",
                    "value": "б",
                    "x": 274,
                    "y": 118
                },
                {
                    "label": "н",
                    "value": "н",
                    "x": 326,
                    "y": 118
                },
                {
                    "label": "м",
                    "value": "м",
                    "x": 378,
                    "y": 118
                },
                {
                    "label": "ѓ",
                    "value": "ѓ",
                    "x": 430,
                    "y": 118
                },
                {
                    "label": "ж",
                    "value": "ж",
                    "x": 482,
                    "y": 118
                },
                {
                    "label": "file:///usr/share/keyboard/images/keyDeleteEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyDeleteArmed.png",
                    "value": "!!back",
                    "x": 534,
                    "y": 118
                }
            ]
        },
        {
            "comment": "uppercase, three rows for alpha",
            "type": 96,
            "width": 56,
            "height": 55,
            "font" : "Futura 11",
            "modifier" : 1,
            "keys": [
                {
                    "label": "Љ",
                    "value": "Љ",
                    "x": 14,
                    "y": 7
                },
                {
                    "label": "Њ",
                    "value": "Њ",
                    "x": 66,
                    "y": 7
                },
                {
                    "hold" : 11,
                    "label": "Е",
                    "value": "Е",
                    "x": 118,
                    "y": 7
                },
                {
                    "label": "Р",
                    "value": "Р",
                    "x": 170,
                    "y": 7
                },
                {
                    "label": "Т",
                    "value": "Т",
                    "x": 222,
                    "y": 7
                },
                {
                    "label": "Ѕ",
                    "value": "Ѕ",
                    "x": 274,
                    "y": 7
                },
                {
                    "label": "У",
                    "value": "У",
                    "x": 326,
                    "y": 7
                },
                {
                    "hold" : 12,
                    "label": "И",
                    "value": "И",
                    "x": 378,
                    "y": 7
                },
                {
                    "label": "О",
                    "value": "О",
                    "x": 430,
                    "y": 7
                },
                {
                    "label": "П",
                    "value": "П",
                    "x": 482,
                    "y": 7
                },
                {
                    "label": "Ш",
                    "value": "Ш",
                    "x": 534,
                    "y": 7
                },
                {
                    "label": "А",
                    "value": "А",
                    "x": 14,
                    "y": 63
                },
                {
                    "label": "С",
                    "value": "С",
                    "x": 66,
                    "y": 63
                },
                {
                    "label": "Д",
                    "value": "Д",
                    "x": 118,
                    "y": 63
                },
                {
                    "label": "Ф",
                    "value": "Ф",
                    "x": 170,
                    "y": 63
                },
                {
                    "label": "Г",
                    "value": "Г",
                    "x": 222,
                    "y": 63
                },
                {
                    "label": "Х",
                    "value": "Х",
                    "x": 274,
                    "y": 63
                },
                {
                    "label": "Ј",
                    "value": "Ј",
                    "x": 326,
                    "y": 63
                },
                {
                    "label": "К",
                    "value": "К",
                    "x": 378,
                    "y": 63
                },
                {
                    "label": "Л",
                    "value": "Л",
                    "x": 430,
                    "y": 63
                },
                {
                    "label": "Ч",
                    "value": "Ч",
                    "x": 482,
                    "y": 63
                },
                {
                    "label": "Ќ",
                    "value": "Ќ",
                    "x": 534,
                    "y": 63
                },
                {
                    "label": "file:///usr/share/keyboard/images/keyShiftEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyShiftArmed.png",
                    "value": "!!shift",
                    "x": 14,
                    "y": 118
                },
                {
                    "label": "З",
                    "value": "З",
                    "x": 66,
                    "y": 118
                },
                {
                    "label": "Џ",
                    "value": "Џ",
                    "x": 118,
                    "y": 118
                },
                {
                    "label": "Ц",
                    "value": "Ц",
                    "x": 170,
                    "y": 118
                },
                {
                    "label": "В",
                    "value": "В",
                    "x": 222,
                    "y": 118
                },
                {
                    "label": "Б",
                    "value": "Б",
                    "x": 274,
                    "y": 118
                },
                {
                    "label": "Н",
                    "value": "Н",
                    "x": 326,
                    "y": 118
                },
                {
                    "label": "М",
                    "value": "М",
                    "x": 378,
                    "y": 118
                },
                {
                    "label": "Ѓ",
                    "value": "Ѓ",
                    "x": 430,
                    "y": 118
                },
                {
                    "label": "Ж",
                    "value": "Ж",
                    "x": 482,
                    "y": 118
                },
                {
                    "label": "file:///usr/share/keyboard/images/keyDeleteEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyDeleteArmed.png",
                    "value": "!!back",
                    "x": 534,
                    "y": 118
                }
            ]
        },
        {
            "comment": "shift",
            "type": 32,
            "width": 52,
            "height": 55,
            "font" : "Futura 11",
            "modifier" : 1,
            "keys": [
                {
                    "label": "file:///usr/share/keyboard/images/keyShiftLockEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyShiftLockArmed.png",
                    "value": "!!shift",
                    "x": 19,
                    "y": 118
                }
            ]
        },
        {
            "comment": "shift lock",
            "type": 64,
            "width": 52,
            "height": 55,
            "font" : "Futura 11",
            "modifier" : 1,
            "keys": [
                {
                    "label": "file:///usr/share/keyboard/images/keyShiftLockedEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyShiftLockedArmed.png",
                    "value": "!!lower",
                    "x": 19,
                    "y": 118
                }
            ]
        },
        {
            "comment": "common numeric1, three rows",
            "type": 33554560,
            "width": 56,
            "height": 55,
            "font" : "Futura 11",
            "modifier" : 0,
            "keys": [
                {
                    "label": "1",
                    "value": "1",
                    "x": 19,
                    "y": 7
                },
                {
                    "label": "2",
                    "value": "2",
                    "x": 75,
                    "y": 7
                },
                {
                    "label": "3",
                    "value": "3",
                    "x": 131,
                    "y": 7
                },
                {
                    "label": "4",
                    "value": "4",
                    "x": 188,
                    "y": 7
                },
                {
                    "label": "5",
                    "value": "5",
                    "x": 244,
                    "y": 7
                },
                {
                    "label": "6",
                    "value": "6",
                    "x": 300,
                    "y": 7
                },
                {
                    "label": "7",
                    "value": "7",
                    "x": 356,
                    "y": 7
                },
                {
                    "label": "8",
                    "value": "8",
                    "x": 412,
                    "y": 7
                },
                {
                    "label": "9",
                    "value": "9",
                    "x": 469,
                    "y": 7
                },
                {
                    "label": "0",
                    "value": "0",
                    "x": 525,
                    "y": 7
                },
                {
                    "modifier" : 1,
                    "label": "$",
                    "value": "$",
                    "x": 47,
                    "y": 63
                },
                {
                    "modifier" : 1,
                    "label": "&",
                    "value": "&",
                    "x": 103,
                    "y": 63
                },
                {
                    "modifier" : 1,
                    "label": "(",
                    "value": "(",
                    "x": 159,
                    "y": 63
                },
                {
                    "modifier" : 1,
                    "label": ")",
                    "value": ")",
                    "x": 215,
                    "y": 63
                },
                {
                    "modifier" : 1,
                    "hold" : 200,
                    "label": "\"",
                    "value": "\"",
                    "x": 272,
                    "y": 63
                },
                {
                    "label": "'",
                    "value": "'",
                    "x": 328,
                    "y": 63
                },
                {
                    "label": "-",
                    "value": "-",
                    "x": 384,
                    "y": 63
                },
                {
                    "modifier" : 1,
                    "label": "+",
                    "value": "+",
                    "x": 440,
                    "y": 63
                },
                {
                    "width": 84,
                    "label": "#~=",
                    "value": "!!next",
                    "x": 19,
                    "y": 118
                },
                {
                    "modifier" : 1,
                    "hold" : 201,
                    "label": "!",
                    "value": "!",
                    "x": 159,
                    "y": 118
                },
                {
                    "modifier" : 1,
                    "hold" : 202,
                    "label": "?",
                    "value": "?",
                    "x": 215,
                    "y": 118
                },
                {
                    "modifier" : 1,
                    "label": ":",
                    "value": ":",
                    "x": 272,
                    "y": 118
                },
                {
                    "label": ";",
                    "value": ";",
                    "x": 328,
                    "y": 118
                },
                {
                    "label": ",",
                    "value": ",",
                    "x": 384,
                    "y": 118
                },
                {
                    "label": "…",
                    "value": "…",
                    "x": 440,
                    "y": 118
                },
                {
                    "width": 85,
                    "label": "file:///usr/share/keyboard/images/keyDeleteEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyDeleteArmed.png",
                    "value": "!!back",
                    "x": 496,
                    "y": 118
                }
            ]
        },
        {
            "comment": "numeric1, three rows",
            "type": 128,
            "width": 56,
            "height": 55,
            "font" : "Futura 11",
            "modifier" : 0,
            "keys": [
                {
                    "modifier" : 1,
                    "label": "@",
                    "value": "@",
                    "x": 103,
                    "y": 118
                },
                {
                    "label": "/",
                    "value": "/",
                    "x": 496,
                    "y": 63
                }
            ]
        },
        {
            "comment": "web numeric1, three rows",
            "type": 33554432,
            "width": 56,
            "height": 55,
            "font" : "Futura 11",
            "modifier" : 0,
            "keys": [
                {
                    "label": "÷",
                    "value": "÷",
                    "x": 103,
                    "y": 118
                },
                {
                    "label": "×",
                    "value": "×",
                    "x": 496,
                    "y": 63
                }
            ]
        },
        {
            "comment": "common numeric2, three rows",
            "type": 67109120,
            "width": 56,
            "height": 55,
            "font" : "Futura 11",
            "modifier" : 0,
            "keys": [
                {
                    "modifier" : 1,
                    "label": "#",
                    "value": "#",
                    "x": 19,
                    "y": 7
                },
                {
                    "modifier" : 1,
                    "label": "%",
                    "value": "%",
                    "x": 75,
                    "y": 7
                },
                {
                    "modifier" : 1,
                    "label": "~",
                    "value": "~",
                    "x": 131,
                    "y": 7
                },
                {
                    "modifier" : 1,
                    "label": "^",
                    "value": "^",
                    "x": 188,
                    "y": 7
                },
                {
                    "label": "[",
                    "value": "[",
                    "x": 244,
                    "y": 7
                },
                {
                    "label": "]",
                    "value": "]",
                    "x": 300,
                    "y": 7
                },
                {
                    "modifier" : 1,
                    "label": "{",
                    "value": "{",
                    "x": 356,
                    "y": 7
                },
                {
                    "modifier" : 1,
                    "label": "}",
                    "value": "}",
                    "x": 412,
                    "y": 7
                },
                {
                    "modifier" : 1,
                    "label": "|",
                    "value": "|",
                    "x": 469,
                    "y": 7
                },
                {
                    "label": "\\",
                    "value": "\\",
                    "x": 525,
                    "y": 7
                },
                {
                    "label": "·",
                    "value": "·",
                    "x": 47,
                    "y": 63
                },
                {
                    "label": "™",
                    "value": "™",
                    "x": 103,
                    "y": 63
                },
                {
                    "label": "¬",
                    "value": "¬",
                    "x": 159,
                    "y": 63
                },
                {
                    "label": "`",
                    "value": "`",
                    "x": 215,
                    "y": 63
                },
                {
                    "hold": 205,
                    "label": "<",
                    "value": "<",
                    "x": 272,
                    "y": 63
                },
                {
                    "hold": 204,
                    "modifier" : 1,
                    "label": ">",
                    "value": ">",
                    "x": 328,
                    "y": 63
                },
                {
                    "modifier" : 1,
                    "label": "_",
                    "value": "_",
                    "x": 384,
                    "y": 63
                },
                {
                    "modifier" : 1,
                    "hold": 203,
                    "label": "*",
                    "value": "*",
                    "x": 440,
                    "y": 63
                },
                {
                    "hold": 206,
                    "label": "=",
                    "value": "=",
                    "x": 496,
                    "y": 63
                },
                {
                    "width": 84,
                    "label": "123!?",
                    "value": "!!prev",
                    "x": 19,
                    "y": 118
                },
                {
                    "label": "©",
                    "value": "©",
                    "x": 103,
                    "y": 118
                },
                {
                    "label": "®",
                    "value": "®",
                    "x": 159,
                    "y": 118
                },
                {
                    "label": "§",
                    "value": "§",
                    "x": 215,
                    "y": 118
                },
                {
                    "label": "¢",
                    "value": "¢",
                    "x": 272,
                    "y": 118
                },
                {
                    "label": "¥",
                    "value": "¥",
                    "x": 328,
                    "y": 118
                },
                {
                    "label": "€",
                    "value": "€",
                    "x": 384,
                    "y": 118
                },
                {
                    "label": "£",
                    "value": "£",
                    "x": 440,
                    "y": 118
                },
                {
                    "width": 85,
                    "label": "file:///usr/share/keyboard/images/keyDeleteEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyDeleteArmed.png",
                    "value": "!!back",
                    "x": 496,
                    "y": 118
                }
            ]
        },
        {
            "comment": "web, no language, 123 for alpha",
            "type": 512,
            "height": 55,
            "font" : "Futura 11",
            "modifier" : 0,
            "keys": [
                {
                    "width": 84,
                    "label": "123!?",
                    "value": "!!123",
                    "x": 19,
                    "y": 173
                },
                {
                    "modifier" : 1,
                    "width": 78,
                    "label": "@",
                    "value": "@",
                    "x": 103,
                    "y": 173
                },
                {
                    "width": 78,
                    "label": "\u2423",
                    "value": " ",
                    "x": 182,
                    "y": 173
                },
                {
                    "hold" : 300,
                    "width": 78,
                    "label": ".com",
                    "value": ".com",
                    "x": 260,
                    "y": 173
                },
                {
                    "width": 78,
                    "label": "/",
                    "value": "/",
                    "x": 340,
                    "y": 173
                },
                {
                    "width": 78,
                    "label": ".",
                    "value": ".",
                    "x": 418,
                    "y": 173
                },
                {
                    "width": 85,
                    "label": "file:///usr/share/keyboard/images/keyReturnEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyReturnArmed.png",
                    "value": "\uFF0D",
                    "x": 496,
                    "y": 173
                }
            ]
        },
        {
            "comment": "web, with language, 123 for alpha",
            "type": 1024,
            "height": 55,
            "font" : "Futura 11",
            "modifier" : 0,
            "keys": [
                {
                    "width": 84,
                    "label": "123!?",
                    "value": "!!123",
                    "x": 19,
                    "y": 173
                },
                {
                    "width": 56,
                    "label": "file:///usr/share/keyboard/images/keyIntlEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyIntlArmed.png",
                    "value": "!!intl",
                    "x": 103,
                    "y": 173
                },
                {
                    "modifier" : 1,
                    "width": 67,
                    "label": "@",
                    "value": "@",
                    "x": 159,
                    "y": 173
                },
                {
                    "width": 67,
                    "label": "\u2423",
                    "value": " ",
                    "x": 226,
                    "y": 173
                },
                {
                    "hold" : 300,
                    "width": 68,
                    "label": ".com",
                    "value": ".com",
                    "x": 294,
                    "y": 173
                },
                {
                    "width": 67,
                    "label": "/",
                    "value": "/",
                    "x": 362,
                    "y": 173
                },
                {
                    "width": 67,
                    "label": ".",
                    "value": ".",
                    "x": 429,
                    "y": 173
                },
                {
                    "width": 85,
                    "label": "file:///usr/share/keyboard/images/keyReturnEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyReturnArmed.png",
                    "value": "\uFF0D",
                    "x": 496,
                    "y": 173
                }
            ]
        },
        {
            "comment": "web, no language, abc for numeric",
            "type": 2048,
            "height": 55,
            "font" : "Futura 11",
            "modifier" : 0,
            "keys": [
                {
                    "width": 84,
                    "label": "ABC",
                    "value": "!!abc",
                    "x": 19,
                    "y": 173
                },
                {
                    "modifier" : 1,
                    "width": 78,
                    "label": "@",
                    "value": "@",
                    "x": 103,
                    "y": 173
                },
                {
                    "width": 78,
                    "label": "\u2423",
                    "value": " ",
                    "x": 182,
                    "y": 173
                },
                {
                    "hold" : 300,
                    "width": 78,
                    "label": ".com",
                    "value": ".com",
                    "x": 260,
                    "y": 173
                },
                {
                    "width": 78,
                    "label": "/",
                    "value": "/",
                    "x": 340,
                    "y": 173
                },
                {
                    "width": 78,
                    "label": ".",
                    "value": ".",
                    "x": 418,
                    "y": 173
                },
                {
                    "width": 85,
                    "label": "file:///usr/share/keyboard/images/keyReturnEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyReturnArmed.png",
                    "value": "\uFF0D",
                    "x": 496,
                    "y": 173
                }
            ]
        },
        {
            "comment": "web, with language, abc for numeric",
            "type": 4096,
            "height": 55,
            "font" : "Futura 11",
            "modifier" : 0,
            "keys": [
                {
                    "width": 84,
                    "label": "ABC",
                    "value": "!!abc",
                    "x": 19,
                    "y": 173
                },
                {
                    "width": 56,
                    "label": "file:///usr/share/keyboard/images/keyIntlEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyIntlArmed.png",
                    "value": "!!intl",
                    "x": 103,
                    "y": 173
                },
                {
                    "modifier" : 1,
                    "width": 67,
                    "label": "@",
                    "value": "@",
                    "x": 159,
                    "y": 173
                },
                {
                    "width": 67,
                    "label": "\u2423",
                    "value": " ",
                    "x": 226,
                    "y": 173
                },
                {
                    "hold" : 300,
                    "width": 68,
                    "label": ".com",
                    "value": ".com",
                    "x": 294,
                    "y": 173
                },
                {
                    "width": 67,
                    "label": "/",
                    "value": "/",
                    "x": 362,
                    "y": 173
                },
                {
                    "width": 67,
                    "label": ".",
                    "value": ".",
                    "x": 429,
                    "y": 173
                },
                {
                    "width": 85,
                    "label": "file:///usr/share/keyboard/images/keyReturnEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyReturnArmed.png",
                    "value": "\uFF0D",
                    "x": 496,
                    "y": 173
                }
            ]
        },
        {
            "comment": "diacritical E lowercase",
            "type": 8192,
            "diacritical": 1,
            "height": 55,
            "width" : 52,
            "font" : "Futura 11",
            "modifier" : 0,
            "keys": [
                {
                    "label": "ѐ",
                    "value": "ѐ",
                    "x": 92,
                    "y": -39
                },
                {
                    "label": "е",
                    "value": "е",
                    "x": 144,
                    "y": -39
                }
            ]
        },
        {
            "comment": "diacritical I lowercase",
            "type": 8192,
            "diacritical": 2,
            "height": 55,
            "width" : 52,
            "font" : "Futura 11",
            "modifier" : 0,
            "keys": [
                {
                    "label": "и",
                    "value": "и",
                    "x": 352,
                    "y": -39
                },
                {
                    "label": "ѝ",
                    "value": "ѝ",
                    "x": 404,
                    "y": -39
                }
            ]
        },
        {
            "comment": "diacritical E uppercase",
            "type": 8192,
            "diacritical": 11,
            "height": 55,
            "width" : 52,
            "font" : "Futura 11",
            "modifier" : 1,
            "keys": [
                {
                    "label": "Ѐ",
                    "value": "Ѐ",
                    "x": 92,
                    "y": -39
                },
                {
                    "label": "Е",
                    "value": "Е",
                    "x": 144,
                    "y": -39
                }
            ]
        },
        {
            "comment": "diacritical I uppercase",
            "type": 8192,
            "diacritical": 12,
            "height": 55,
            "width" : 52,
            "font" : "Futura 11",
            "modifier" : 1,
            "keys": [
                {
                    "label": "И",
                    "value": "И",
                    "x": 352,
                    "y": -39
                },
                {
                    "label": "Ѝ",
                    "value": "Ѝ",
                    "x": 404,
                    "y": -39
                }
            ]
        },
        {
            "comment": "diacritical double quotes",
            "type": 8192,
            "diacritical": 200,
            "height": 55,
            "width" : 56,
            "font" : "Futura 11",
            "modifier" : 1,
            "keys": [
                {
                    "label": "«",
                    "value": "«",
                    "x": 188,
                    "y": -39
                },
                {
                    "label": "»",
                    "value": "»",
                    "x": 244,
                    "y": -39
                },
                {
                    "label": "„",
                    "value": "„",
                    "x": 300,
                    "y": -39
                },
                {
                    "label": "\"",
                    "value": "\"",
                    "x": 356,
                    "y": -39
                }
            ]
        },
        {
            "comment": "diacritical exclamation point",
            "type": 8192,
            "diacritical": 201,
            "height": 55,
            "width" : 56,
            "font" : "Futura 11",
            "modifier" : 1,
            "keys": [
                {
                    "label": "¡",
                    "value": "¡",
                    "x": 244,
                    "y": -39
                },
                {
                    "label": "!",
                    "value": "!",
                    "x": 300,
                    "y": -39
                }
            ]
        },
        {
            "comment": "diacritical question mark",
            "type": 8192,
            "diacritical": 202,
            "height": 55,
            "width" : 56,
            "font" : "Futura 11",
            "modifier" : 1,
            "keys": [
                {
                    "label": "¿",
                    "value": "¿",
                    "x": 244,
                    "y": -39
                },
                {
                    "label": "?",
                    "value": "?",
                    "x": 300,
                    "y": -39
                }
            ]
        },
        {
            "comment": "diacritical asterisk",
            "type": 8192,
            "diacritical": 203,
            "height": 55,
            "width" : 56,
            "font" : "Futura 11",
            "modifier" : 1,
            "keys": [
                {
                    "label": "·",
                    "value": "·",
                    "x": 244,
                    "y": -39
                },
                {
                    "label": "*",
                    "value": "*",
                    "x": 300,
                    "y": -39
                }
            ]
        },
        {
            "comment": "diacritical greater than",
            "type": 8192,
            "diacritical": 204,
            "height": 55,
            "width" : 56,
            "font" : "Futura 11",
            "modifier" : 1,
            "keys": [
                {
                    "label": "≥",
                    "value": "≥",
                    "x": 244,
                    "y": -39
                },
                {
                    "label": ">",
                    "value": ">",
                    "x": 300,
                    "y": -39
                }
            ]
        },
        {
            "comment": "diacritical less than",
            "type": 8192,
            "diacritical": 205,
            "height": 55,
            "width" : 56,
            "font" : "Futura 11",
            "modifier" : 0,
            "keys": [
                {
                    "modifier" : 1,
                    "label": "≤",
                    "value": "≤",
                    "x": 244,
                    "y": -39
                },
                {
                    "label": "<",
                    "value": "<",
                    "x": 300,
                    "y": -39
                }
            ]
        },
        {
            "comment": "diacritical equals",
            "type": 8192,
            "diacritical": 206,
            "height": 55,
            "width" : 56,
            "font" : "Futura 11",
            "modifier" : 0,
            "keys": [
                {
                    "modifier" : 1,
                    "label": "≠",
                    "value": "≠",
                    "x": 244,
                    "y": -39
                },
                {
                    "label": "=",
                    "value": "=",
                    "x": 300,
                    "y": -39
                }
            ]
        },
        {
            "comment": "diacritical domain names",
            "type": 8192,
            "diacritical": 300,
            "height": 55,
            "width" : 78,
            "font" : "Futura 9",
            "modifier" : 0,
            "keys": [
                {
                    "label": ".org",
                    "value": ".org",
                    "x": 69,
                    "y": -39
                },
                {
                    "label": ".net",
                    "value": ".net",
                    "x": 146,
                    "y": -39
                },
                {
                    "label": ".edu",
                    "value": ".edu",
                    "x": 223,
                    "y": -39
                },
                {
                    "label": ".biz",
                    "value": ".biz",
                    "x": 300,
                    "y": -39
                },
                {
                    "label": ".gov",
                    "value": ".gov",
                    "x": 377,
                    "y": -39
                },
                {
                    "label": ".com",
                    "value": ".com",
                    "x": 454,
                    "y": -39
                }
            ]
        },
        {
            "comment": "keypad",
            "type": 16384,
            "height": 55,
            "width" : 110,
            "font" : "Futura 11",
            "modifier" : 0,
            "keys": [
                {
                    "label": "1",
                    "value": "1",
                    "x": 131,
                    "y": 7
                },
                {
                    "label": "2",
                    "value": "2",
                    "x": 244,
                    "y": 7
                },
                {
                    "label": "3",
                    "value": "3",
                    "x": 356,
                    "y": 7
                },
                {
                    "label": "4",
                    "value": "4",
                    "x": 131,
                    "y": 63
                },
                {
                    "label": "5",
                    "value": "5",
                    "x": 244,
                    "y": 63
                },
                {
                    "label": "6",
                    "value": "6",
                    "x": 356,
                    "y": 63
                },
                {
                    "label": "7",
                    "value": "7",
                    "x": 131,
                    "y": 118
                },
                {
                    "label": "8",
                    "value": "8",
                    "x": 244,
                    "y": 118
                },
                {
                    "label": "9",
                    "value": "9",
                    "x": 356,
                    "y": 118
                },
                {
                    "label": "file:///usr/share/keyboard/images/keyDeleteEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyDeleteArmed.png",
                    "value": "!!back",
                    "x": 131,
                    "y": 173
                },
                {
                    "label": "0",
                    "value": "0",
                    "x": 244,
                    "y": 173
                },
                {
                    "label": "file:///usr/share/keyboard/images/keyReturnEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyReturnArmed.png",
                    "value": "\uFF0D",
                    "x": 356,
                    "y": 173
                }
            ]
        }
    ]
}
